polyBERT/*/
polyBERT/model*/
polyBERT/data/
polyBERT/dataset*/
polyBERT/trained_regression/
polyBERT/figs/*
*.sh
*.sh.*

*.ipynb
.ipynb_checkpoints
*.model
*.vocab
spm.vocab_ref
/venv/
.DS_Store
generated_*.txt
/copolymer_informatics
/finetune_data
/multitask-venv/
multitask*.txt
/regression_data/
*.pt